.dist
.gradle/
env/
gradle/
logs/
gradlew
gradlew.bat
MineRLObtainDiamond-v0/
myenv/
choptree_SQ/tb_logs/
choptree_SQ/checkpoints/*.zip
__pycache__/
choptree_SQ/processed_data/*.npz
choptree_SQ/processed_data/*.pkl
data/processed_data/*.npz